accelerate==1.4.0
adversarial-gym
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
beautifulsoup4==4.13.3
blinker==1.9.0
bottle==0.13.2
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
chess==1.11.1
click==8.1.8
cloudpickle==3.1.1
colorlog==6.9.0
cssselect2==0.7.0
defusedxml==0.7.1
docker-pycreds==0.4.0
filelock==3.17.0
Flask==3.1.0
fsspec==2025.2.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
gym==0.26.2
gym-notices==0.0.8
huggingface-hub==0.29.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.3
omegaconf==2.3.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.6
protobuf==5.29.3
proxy-tools==0.1.0
psutil==7.0.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pygame==2.6.1
Pygments==2.19.1
PySocks==1.7.1
python-chess==1.999
python-dateutil==2.9.0.post0
pytz==2025.1
pywebview==5.4
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
safetensors==0.5.2
sentry-sdk==2.22.0
setproctitle==1.3.5
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
soupsieve==2.6
stockfish==3.28.0
sympy==1.13.1
tinycss2==1.4.0
torch==2.6.0
tqdm==4.67.1
triton==3.2.0
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wandb==0.19.7
webencodings==0.5.1
Werkzeug==3.1.3
